.word {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid var(--fg);
  border-radius: 2px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  font-size: 0.8rem;

  span {
    &:first-of-type { font-weight: 600; }
    &:last-of-type  { font-family: var(--font-minor); }
  }
}

.button-row {
  display: flex;

  button {
    color: var(--fg);
    border: none;
    border-top: 1px solid var(--fg);
    border-right: 1px solid var(--fg);
    width: 2rem;
    padding: 0.2rem;
    background: transparent;

    &:last-of-type { border-top-right-radius: 2px; }
  }
}
