.word {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #e6e6e6;

  > div {
    &:first-of-type {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem;
      font-size: 0.8rem;

      span {
        &:first-of-type {
          font-weight: 600;
        }
        &:last-of-type {
          font-family: 'Unlock', serif;
        }
      }
    }

    &:last-of-type {
      display: flex;

      button {
        color: #e6e6e6;
        border: none;
        border-top: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6;
        width: 2rem;
        padding: 0.2rem;
        background: transparent;
      }
    }
  }
}
