.wordbook {
  padding: 0.5rem;
  margin: 1rem;

  h1 {
    width: fit-content;
    font-family: 'Unlock', serif;
    text-align: center;
    font-size: 1.2rem;
    margin: 0 auto 0.5rem;
    padding: 0.5rem;
    border: 1px solid #e6e6e6;
    box-shadow: 2px 2px 4px #4f075f;
  }

  ul {
    max-height: 72vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    gap: 0.5rem;
    overflow: auto;
  }
}
