.about-app {
  max-width: 40rem;
  width: 90%;
  margin: 0 auto 1rem;
}

.app-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0 2rem;

  a {
    font-weight: 700;
    transition: 0.5s ease;

    &:hover { font-weight: 900; }
  }
}
