.answers {
  align-self: center;
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.2rem;
  padding: 0.5rem;

  @media screen and (pointer: coarse) and (orientation: landscape) { max-width: 100%; }
}

.answer-btn {
  flex: 1 0 30%;
  padding: 0.5rem;
  font-family: var(--font-minor);
  font-size: 1.8rem;
  text-align: center;
  text-shadow: 1px 1px 2px var(--black);
  border: 1px solid var(--white);
  border-radius: 3px;
  color: var(--white);

  &:disabled { pointer-events: none; }
  @media screen and (pointer: coarse) and (orientation: landscape) {
    flex: 1 0 10%;
    font-size: 1.4rem;
  }

  @media screen and (min-width: 1024px) {
    flex: 1 0 18%;
    font-size: 1.4rem;
  }
}
