.results-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  text-align: center;
  padding: 0.5rem;
  border-bottom: 1px solid var(--black);
  box-shadow: 1px 1px 2px var(--black);
  text-shadow: 1px 1px 2px var(--black);
}

.scores-header {
  margin: 0.5rem auto;
  text-align: center;
}

.scores-list {
  margin: 0 auto;
  padding: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  overflow-y: scroll; /* for desktop */
  min-height: 76px; /* prevents shrinking on max-zoom (desktop) */

  li { width: 220px; }

  @media (pointer: coarse) and (orientation: landscape) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  > img {
    width: 200px;
    margin: 1rem;
  }
}
