.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.5rem;
  border: 1px solid var(--black);
  border-radius: 2px;
  box-shadow: 1px 1px 2px var(--black);
  text-shadow: 1px 1px 2px var(--black);

  img {
    width: 20px;
    border-right: 0.6px solid transparent;

    &.uter {
      transform: translateY(-9px);
    }
    &.nelson {
      transform: translateY(-10px);
    }
    &.ranier {
      transform: scaleX(-1) translateY(-2px);
      border: 0.6px solid var(--black);
      border-top-color: #838383be;
      border-bottom-color: #444444c7;
      border-left-color: #6c6c6c;
      border-radius: 3px;
      box-shadow: 1px 1px 2px var(--black);
      background: linear-gradient(to bottom, #527288, #e8e8e8);
    }
  }

  p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;

    &:nth-of-type(1) {
      font-weight: 600;

      span {
        display: flex;
        gap: 0.2rem;
      }
    }

    &:nth-of-type(2), &:nth-of-type(3) {
      span { margin-right: 0.2rem; }
    }
  }
}
