.countdown {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  font-size: 2.5rem;
  font-family: var(--font-minor);

  span {
    text-shadow: 1px 1px 2px var(--black);

    &:nth-of-type(1) { color: var(--hard);   }
    &:nth-of-type(2) { color: var(--medium); }
    &:nth-of-type(3) { color: var(--easy);   }
  }
}
