.container {
  flex: 1;
  align-self: center;
  max-width: 960px;
  padding: 0.5rem;

  @media (pointer: coarse) and (orientation: landscape) { max-width: 100%; }
}

.question {
  border-radius: 4px;
  overflow: hidden;

  h1 {
    padding: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    color: var(--purple);
    text-shadow: 1px 1px 2px var(--black);
    background: var(--white);

    > span { display: inline-block; }

    @media (pointer: coarse) and (orientation: landscape) { font-size: 1.25rem; }
  }

  progress {
    width: 100%;
    appearance: none;

    &::-webkit-progress-bar   { background-color: var(--white);  }
    &::-webkit-progress-value { background-color: var(--indigo); }
    &::-moz-progress-bar      { background-color: var(--indigo); }
  }
}
