.question {
  flex: 1;
  align-self: center;
  max-width: 960px;
  padding: 0.5rem;

  article {
    h1 {
      padding: 0.5rem;
      font-size: 1.8rem;
      text-align: center;
      color: var(--bg);
      text-shadow: 1px 1px 2px var(--black);
      background: var(--fg);
    }

    progress {
      width: 100%;
      appearance: none;

      &::-webkit-progress-bar   { background-color: var(--fg); }
      &::-webkit-progress-value { background-color: var(--indigo); }
      &::-moz-progress-bar      { background-color: var(--indigo); }
    }
  }
}

@media screen and (pointer: coarse) and (orientation: landscape) {
  .question {
    max-width: 100%;

    article {
      h1 { font-size: 1.3rem; }
    }
  }
}
