.question {
  align-self: center;
  max-width: 600px;
  padding: 0.5rem;

  h1 {
    padding: 0.5rem;
    font-size: 1.8rem;
    text-align: center;
    color: #42275a;
    text-shadow: 1px 1px 2px #000;
    background: #e6e6e6;
  }

  progress {
    width: 100%;
    appearance: none;

    &::-webkit-progress-bar {
      background-color: #e6e6e6;
    }

    &::-webkit-progress-value {
      background-color: #302b63;
    }

    &::-moz-progress-bar {
      background-color: #302b63;
    }
  }
}

.stats {
  flex: 1;
  display: flex;
  align-self: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 600px;
  padding: 1rem;

  p {
    margin-bottom: 25%;
    margin-top: auto;
  }
}
