.score {
  position: relative;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
  padding: 4rem 1rem;

  @media screen and (pointer: coarse) and (orientation: landscape) { padding: 4rem 1rem 1rem; }
}

.score-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 2.5rem;
  font-size: 1.5rem;
  font-weight: 900;
  text-shadow: 1px 1px 2px var(--black);
  white-space: nowrap;

  /* polygon bg set dynamically with JS */
  &:nth-of-type(1) { /* questions solved */
    clip-path: polygon(25% 0%, 75% 0%, 100% 25%, 50% 100%, 0% 25%);
  }

  &:nth-of-type(2) { /* total score */
    width: 4rem;
    height: 2rem;
    font-weight: 600;
    color: var(--purple);
    border-radius: 2px;
  }

  &:nth-of-type(3) { /* lives remaining */
    clip-path: polygon(30% 0%, 50% 15%, 70% 0%, 90% 10%, 100% 35%, 80% 70%, 50% 100%, 20% 70%, 0% 35%, 10% 10%);
  }
}

.pop-up {
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 50%;
  margin: auto;
  padding: 0.5rem 1rem;
  width: fit-content;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  border: 1.5px solid var(--black);
  border-radius: 5px;
  color: var(--black);

  @media screen and (pointer: coarse) and (orientation: landscape) {
    font-size: 1rem;
    bottom: 30%;
  }
}
