.score {
  position: relative;
  flex: 1;
  display: flex;
  align-self: center;
  justify-content: space-around;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
  padding: 1rem;
  overflow-x: scroll;

  .pop-up {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 50%;
    margin: auto;
    padding: 0.5rem 1rem;
    width: fit-content;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    border: 1.5px solid #000;
    border-radius: 5px;
    color: #000;
  }

  p {
    text-align: center;
    height: 55px;
    min-width: 65px;
    margin-bottom: 7vh;
    margin-top: auto;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 900;
    text-shadow: 1px 1px 2px #000;
    white-space: nowrap;

    &:nth-of-type(1) {
      background: #6ba816;
      clip-path: polygon(25% 0%, 75% 0%, 100% 25%, 50% 100%, 0% 25%);
    }

    &:nth-of-type(2) {
      min-width: 90px;
      font-weight:600;
      color: #42275a;
      background: #e6e6e6;
      clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 30% 75%, 10% 100%, 10% 75%, 0% 75%);

      span {
        margin-right: 0.1rem;
      }
    }

    &:nth-of-type(3) {
      background: #1666a8;
      clip-path: polygon(30% 0%, 50% 15%, 70% 0%, 90% 10%, 100% 35%, 80% 70%, 50% 100%, 20% 70%, 0% 35%, 10% 10%);

      span {
        margin-top: 0.3rem;
      }
    }
  }
}
