.start-screen {
  align-self: center;
  max-width: 600px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;

  h1 {
    word-break: break-all;
    text-align: center;
    font-family: var(--font-minor);
    font-size: 1.2rem;
    padding: 0.5rem;
    border: 1px solid var(--fg);
    box-shadow: 2px 2px 4px var(--purple-800);
  }

  button {
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid #000000;
    box-shadow: 2px 2px 4px var(--purple-800);
    font-family: var(--font-minor);
    font-size: 1.2rem;

    &:disabled {
      pointer-events: none;
      opacity: 0.6;
    }
  }

  img { width: 200px; }
}
