.nav-button {
  --hover: #e3a137;
  --opacity: 0.6; /* dynamic value */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.1rem;
  color: var(--rose);
  transition: 0.5s ease-in-out;
  position: relative;
  padding: 0.5rem;
  width: 70px;
  font-size: 0.75rem;
  background: none;
  border: none;

  &:hover { opacity: var(--opacity); }
  &.mobile { --opacity: 1; }

  &:disabled {
    pointer-events: none;
    opacity: 0.6; /* same value for desktop/mobile */
  }

  .active-tab {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid var(--hover);
    border-radius: 2px;
    transition: opacity 0.5s ease-in-out;
  }

  &.active {
    color: var(--hover);

    &:hover {
      opacity: var(--opacity);

      .active-tab { opacity: var(--opacity); }
    }
  }
}
