.nav {
  display: flex;
  gap: 0.8rem;
  padding: 0.5rem;
  overflow-x: scroll;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  flex-shrink: 0;

  @media (pointer: coarse) and (orientation: landscape) {
    flex-direction: column;
    min-height: 100vh; /* ensures it doesn't clip from bottom when scrolling in landscape */
  }
}
