@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Bebas+Neue&family=Unlock&display=swap');

body {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: #e6e6e6;
  background: linear-gradient(to bottom, #42275a, #734b6d);
}

#root {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media screen and (pointer: coarse) and (orientation: landscape) {
  #root { flex-direction: row; }
}
