@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Bebas+Neue&family=Unlock&display=swap');

/* body fits device height - background covers whole device */
body {
  min-height: 100vh;
  color: #e6e6e6;
  background: linear-gradient(to bottom, #42275a, #734b6d);
  font-family: 'Montserrat', sans-serif;
}

/* 1st direct child of body - position fixed allows its children dvh to adjust instantly on scroll */
#root {
  position: fixed;
  inset: 0;
}

/* 1st direct child of #root with content - allows content to react instantly to show/hide browser UI elements */
#content {
  height: 100dvh;
  display: flex;
  flex-direction: column;

  @media (pointer: coarse) and (orientation: landscape) { flex-direction: row; }
}


/* #main shares space with navbar - flex 1 allows it to fill all space */
#main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
