.difficulty {
  align-self: center;
  max-width: 600px;
  width: 95%;
  padding: 0.5rem;
  margin: 0 auto 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  @media screen and (pointer: coarse) and (orientation: landscape) {
    flex-direction: row;
    gap: 2rem;
  }
}
