.header {
  width: fit-content;
  font-family: "Unlock", serif;
  text-align: center;
  font-size: 1.2rem;
  margin: 1rem auto;
  padding: 0.5rem;
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  box-shadow: 2px 2px 4px #4f075f;
}
