.header {
  width: fit-content;
  font-family: var(--font-minor);
  text-align: center;
  font-size: 1.2rem;
  margin: 1rem auto;
  padding: 0.5rem;
  border: 1px solid var(--fg);
  border-radius: 2px;
  box-shadow: 2px 2px 4px var(--purple-800);
}
